@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
    color: #fff;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
    background-color: #222;
    font-size: 15px;
}

a {
    color: #222;
    text-decoration: none;
}

.items {
    position: absolute;
    /* 여기서 top left tranform은 화면 중앙 정렬을 위함 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item {
    display: inline-block;
    /* border: 3px solid red; */
    width: 300px;
    height: 200px;
    position: relative;
}
.front,
.back {
    position: absolute;
    top: 0;
    transition: 0.5s;
    text-align: center;
}

.front {
    background-color: #333;
    height: inherit;
    z-index: 1;
    width: 100%;
}

.front h2 {
    margin-top: 0;
}
.item:hover .front img {
    animation: ani 1s linear infinite;
}
.back {
    background-color: #fff;
    color: #000;
    height: inherit;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
}

.back a {
    background-color: yellowgreen;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 13px;
}

.back a:hover {
    background-color: #000;
}

.item:hover .front {
    top: -50%;
}
.item:hover .back {
    top: 50%;
    opacity: 1;
}

@keyframes ani {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
